{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block content %}
<!-- TITLE WITH BREADCRUMB MENU -->
<div class="container-fluid">
    <hr class="w-80 mb-1 bg-light">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="col text-center mt-3 d-flex justify-content-center">
                <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                    <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-light" href="{% url 'store' %}">Store</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.resolver_match.view_name }}</li>
                </ol>
            </div>
            <div class="tour-heading">
                <h2 class="text-white">CART</h2>
            </div>
        </div>
    </div>


    <!-- STORE PRODUCT INFO -->
    <!-- <div class="row"> -->
    <div class="container mb-2 text-center cart-section">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless text-white">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.product.image %}
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}"
                                    alt="{{ item.product.name }}">
                                {% else %}
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png"
                                    alt="{{ item.product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.product.name }}</p>
                                <p class="my-0"><strong>Size:
                                    </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}
                                </p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price }}</p>
                            </td>
                            <td class="py-3">





                                <form class="form update-form" method="POST"
                                    action="{% url 'adjust_cart' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm text-white rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm text-white rounded-0"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>

                                <div>
                                    <a class="update-link text-info cursor-pointer"><small>Update</small></a>
                                    <a class="remove-item text-danger float-right cursor-pointer"
                                        id="remove_{{ item.item_id }}"
                                        data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </div>


                            </td>
                            <td class="py-3">
                                <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Cart Total: ${{ total|floatformat:2 }}</strong></h6>


                                {% if total >= free_delivery_threshold %}
                                <del class="no-delivery">
                                    <h6 class="text-muted">Delivery:
                                        {{ sample_delivery_data|floatformat:2 }}</h6>
                                </del>
                                <h6 class="text-uppercase">Free</h6>
                                {% else %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending just
                                    <strong>${{ free_delivery_delta }}</strong> more!
                                </p>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                {% endif %}
                                <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'store' %}" class="btn btn-light rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-warning rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>


                    </table>
                </div>
                {% else %}
                <p class="lead mt-5">Your cart is empty.</p>
                <a href="{% url 'store' %}" class="btn btn-light rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'store/includes/product_quantity_script.html' %}
{% include 'store/includes/update_delete_cart_item.html' %}
{% endblock %}