{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- TITLE WITH BREADCRUMB MENU -->
<div class="container-fluid">
    <hr class="w-80 mb-1 bg-light">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="col text-center mt-3 d-flex justify-content-center">
                <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                    <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.resolver_match.view_name }}</li>
                </ol>
            </div>
            <div class="tour-heading">
                <h2 class="text-white">CART</h2>
            </div>
        </div>
    </div>


    <!-- STORE PRODUCT INFO -->
    <!-- <div class="row"> -->
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="table-responsive rounded"></div>
                {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'store' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}