{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="hero">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col align-self-center">
                <h1 class="display-4 text-white text-uppercase">New Album Out: DEC 08</h1>
                <button type="button" class="btn btn-light btn-lg"><a href=""
                        class="text-dark text-uppercase text-decoration:none">PRE-ORDER
                        NOW!</a></button>
            </div>
        </div>

    </div>


</section>

<!-- Streaming Section-->
<section class="streaming-links">
    <div class="container h-80">
        <div class="d-flex justify-content-around flex-wrap h-100 menu text-center">
            <div class="col align-self-center"><a href="https://music.apple.com/us/listen-now" target="_blank"><i
                        class="fa-solid fa-lg fa-music"></i></a></div>
            <div class="col align-self-center"><a href="https://open.spotify.com/" target="_blank"><i
                        class="fa-brands fa-lg fa-spotify"></i></a></div>
            <div class="col align-self-center"><a href="https://www.youtube.com/" target="_blank"><i
                        class="fa-regular fa-lg fa-circle-play"></i></a></div>
            <div class="col align-self-center"><a href="https://music.amazon.com/" target="_blank"><i
                        class="fa-brands fa-lg fa-amazon"></i></a></div>
            <div class="col align-self-center"><a href="https://www.deezer.com/en/" target="_blank"><i
                        class="fa-brands fa-lg fa-deezer"></i></a></div>
        </div>
    </div>
</section>


<!-- Newsletter Section-->
<section class="newsletter">
    <div class="container h-100 my-5">
        <div class="mx-auto">
            <div class="col text-center">
                <h2>Join the Renegade Club</h2>
                <p class="text-big">Get all Renegade updates straight to your inbox. Tour dates, new merch, pre-sales,
                    relases and more. Sign up now and becore a part of the Renegade family</p>
            </div>
            <div class="col">
                <div class="form-holder">
                    <form onsubmit="return sendMail(this);">
                        {% csrf_token %}
                        <div class="form-group d-flex justify-content-center">
                            <input type="email" name="email" id="email" placeholder="Type your email address">
                            <button type="submit" class="submit ml-2" id="btn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Tour Dates Section-->
<section class="intro-3">
    <div class="container">
        <div class="row">
            <!-- <h3>ON TOUR</h3> -->
            <div class="col-3 bg-primary">
                <p></p>
            </div>
            <div class="col-7 bg-danger">
                <p></p>
            </div>
            <div class="col-1 bg-warning">
                <p></p>
            </div>
        </div>
        <div>.</div>
        <div>.</div>
        <div>.</div>
        <div>.</div>
        <div class="row">
            <div class="col-6 col-md-4 bg-primary">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4 bg-danger">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4 bg-warning">.col-6 .col-md-4</div>
        </div>

    </div>


</section>


{% endblock %}