{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="intro">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <h1 class="display-4 text-white text-uppercase">New Album Out: DEC 08</h1>
            </div>
            <div class="my-3">
                <h4><a href="" class="btn btn-lg text-uppercase py-3">PRE-ORDER NOW!</a></h4>
            </div>
        </div>
    </div>


</section>

<!-- Intro Section-->
<section class="streaming-links">
    <div class="container h-100">
        <div class="row h-100 menu">
            <div class="col align-self-center"><a href="https://music.apple.com/us/listen-now" target="_blank"><i
                        class="fa-solid fa-lg fa-music"></i></a></div>
            <div class="col align-self-center"><a href="https://open.spotify.com/" target="_blank"><i
                        class="fa-brands fa-lg fa-spotify"></i></a></div>
            <div class="col align-self-center"><a href="https://www.youtube.com/" target="_blank"><i
                        class="fa-regular fa-lg fa-circle-play"></i></a></div>
            <div class="col align-self-center"><a href="https://music.amazon.com/" target="_blank"><i
                        class="fa-brands fa-lg fa-amazon"></i></a></div>
            <div class="col align-self-center"><a href="https://www.deezer.com/en/" target="_blank"><i
                        class="fa-brands fa-lg fa-deezer"></i></a></div>
        </div>
    </div>
</section>
<!-- Divider Section-->
<section class="intro-3">
    <div class="container">
        <div class="">
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eligendi voluptatum asperiores vel.
                    Tenetur blanditiis odit ab veniam delectus praesentium ad! Fuga est repudiandae officiis dolores
                    culpa obcaecati ea vel.
                    Officiis voluptas eligendi velit fuga, error perspiciatis corrupti dolorum similique. Consectetur
                    nesciunt iste doloremque nihil commodi! Ipsum reprehenderit debitis dolorum, aperiam ipsam
                    molestiae, quasi quis quas facere aliquam sed omnis.
                    Praesentium dolor alias ad magnam quidem qui officia error eos obcaecati asperiores cumque
                    voluptatem voluptatum in, autem magni maiores laboriosam ex quam voluptate rem, tempore repellat
                    delectus? Quo, fuga commodi?
                    Neque eius perspiciatis quasi quaerat? Pariatur consectetur ducimus laborum optio. Nesciunt repellat
                    omnis maxime eligendi deleniti id, odio magnam laudantium vitae ullam optio mollitia voluptatum quia
                    doloremque aperiam, illum ex?
                    Deleniti quas eius perspiciatis consectetur minus repellat corporis ipsa veniam quae sapiente
                    facilis architecto officia commodi cupiditate tempore magnam, amet pariatur! Aspernatur quae facilis
                    necessitatibus assumenda doloremque commodi aliquam atque.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}