{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid video-form">
    <hr class="w-80 mb-1 bg-light">
    <!-- BREADCRUMB NAVIGATION -->
    <div class="row" aria-label="breadcrumb">
        <div class="col text-center mt-3 d-flex justify-content-center">
            <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-light" href="{% url 'videos' %}">Videos</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Song</li>
            </ol>
        </div>
    </div>

    <!-- PAGE HEADER -->
    <div class="tour-heading text-center text-uppercase">
        <h2 class="logo-font mb-4">Videos Management</h2>
        <h5 class="text-muted">Add Song</h5>
    </div>

    <!-- ADD SONG FORM -->
    <div class="container my-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_song' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="text-danger font-italic mt-5">Important! Use only <strong>EMBED</strong> URL!</p>
                    <div class="text-right">
                        <a class="btn btn-light rounded-0" href="{% url 'videos' %}">Cancel</a>
                        <button class="btn btn-warning rounded-0" type="submit">Add Song</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}