{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- TITLE WITH BREADCRUMB MENU -->
<div class="container-fluid">
    <hr class="w-80 mb-1 bg-light">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="col text-center mt-3 d-flex justify-content-center">
                <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                    <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.resolver_match.view_name }}</li>
                </ol>
            </div>
            <div class="tour-heading">
                <h2 class="text-white">VIDEOS</h2>
            </div>
        </div>
    </div>


    <!-- STORE PRODUCT INFO -->
    <div class="row">
        <div class="videos-container col-10 offset-1 text-dark">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for song in song %}
                <div class="col-sm-6 col-md-6 col-lg-4  col-xl-4 my-4 border-0">
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="{{ song.url }}"></iframe>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="btn btn-light text-dark" href="{% url 'edit_song' song.id %}">Edit</a>
                        </div>
                        <div>
                            <a class="btn btn-danger text-dark" href="{% url 'delete_song' song.id %}">Delete</a>

                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}