/* GENERAL */
html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

.hr-line {
    color: white !important;
}

.breadcrumb a:hover {
    text-decoration: none;
}


/* NAVBAR */
.navbar {
    text-transform: uppercase;
}

.navbar-brand {
    width: fit-content;
}


/* HERO */
.hero {
    height: 90vh;
    background: url('/media/home/hero.jpg') no-repeat center center;
}

.hero-title {
    margin-top: 8rem;
    text-align: center;
    text-transform: uppercase;
}


/* HOME PAGE: SECTION 1 - STREAMING SECTION */
.streaming-links {
    margin-top: 100px;
    background-color: black;
    height: 100px;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}



/* HOME PAGE: SECTION 2 - NEWSLETTER SECTION */
.newsletter {
    height: 700px;
    width: 100%;
}


.subscribe-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(107, 107, 107);
    border-radius: 1px;
    padding: 10px;
    width: 400px;
    height: 40px;
    color: white;
    font-size: 1.2rem;
    z-index: 1;
}

.submit-btn {
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.subscribe-input:focus {
    caret-color: rgb(0, 217, 255);
    outline: none;
    font-style: italic;
}


/* HOME PAGE: SECTION 2 - TOUR DATES SECTION */

.tour {
    margin-top: 100px;
}

#tour-item {
    width: 98%;
    margin: auto;
}

#tour-item:not(:last-child) {
    border-bottom: 1px solid white;
}

.tour-list li {
    list-style-type: none;
}




/* ABOUT PAGE: MEMBER SECTION */
.member {
    margin: 150px auto;
    width: 70%;
}

.profile {
    max-width: 600px;

}



/* SONG SECTION */

.new-song iframe {
    height: fit-content;
}


/* FOOTER */

.main-footer {
    margin: 50px 0;
}

.footer-menu a {
    text-decoration: none;
    color: white;
    margin: 15px 30px;
}





/* *** MEDIA QUERY *** */
/* ------------------- */
/* Ultra-Wide Desktop Screens */
@media screen and (min-width: 2000px) {
    body {
        background-size: cover;
    }
}