html {
    height: 100%;
}

body {
    background: url('/media/home/hero-2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh-116px);

}

.navbar {
    text-transform: uppercase;
}

.navbar a {
    color: white !important;
}


.hero-title {
    margin-top: 8rem;
    text-align: center;
    text-transform: uppercase;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: -1;
}

.hr-line {
    color: white !important;
}

.breadcrumb a:hover {
    text-decoration: none;
}