html {
    height: 100%;
}

body {
    background: url('/media/home/hero.jpg') no-repeat center center fixed;
    background-size: cover;
}


.navbar {
    text-transform: uppercase;
}

.navbar-brand {
    width: fit-content;
}

.navbar a {
    color: white !important;
}


.intro {
    height: 100vh;
}

.streaming-links {
    background-color: black;
    height: 500px;
    width: 100%;
}

.menu div {
    font-size: 2rem;
    text-decoration: none;

}

.menu a {
    text-decoration: none;
    color: white;
}


.streaming-menu a {
    padding: 0 50px;
    font-size: 5rem;
}


.intro-3 {
    background-color: black;
    color: white;
    height: 100vh;
}

.hero-title {
    margin-top: 8rem;
    text-align: center;
    text-transform: uppercase;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: black;
    z-index: -1;
}

.hr-line {
    color: white !important;
}

.breadcrumb a:hover {
    text-decoration: none;
}