{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">

    <hr class="w-80 mb-1 bg-light">
    <!-- BREADCRUMB NAVIGATION -->
    <div class="row" aria-label="breadcrumb">
        <div class="col text-center mt-3 d-flex justify-content-center">
            <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ request.resolver_match.view_name }}</li>
            </ol>
        </div>
    </div>

    <div class="tour-heading text-center text-uppercase">
        <h2 class="logo-font mb-4">Management</h2>
    </div>




    <!-- <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_tour_event' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <a class="btn btn-light rounded-0" href="{% url 'tour' %}">Cancel</a>
                        <button class="btn btn-light rounded-0" type="submit">Add Event</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->



    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Store</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#add_product" data-toggle="tab">Add Product</a>
                    <a class="dropdown-item" href="#">Edit Product</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Tour</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#add_event" data-toggle="tab">Add Event</a>
                    <a class="dropdown-item" href="#">Edit Event</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Band</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#add_musician" data-toggle="tab">Add Musician</a>
                    <a class="dropdown-item" href="#">Edit Musician</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">Video</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#add_video" data-toggle="tab">Add Video</a>
                    <a class="dropdown-item" href="#">Edit Video</a>
                </div>
            </li>
        </ul>


        <div class="tab-content">

            <div role="tabpanel" class="tab-pane fade in active" id="add_product">1</div>
            <div role="tabpanel" class="tab-pane fade" id="add_event">2</div>
            <div role="tabpanel" class="tab-pane fade" id="add_musician">3</div>
            <div role="tabpanel" class="tab-pane fade" id="add_video">4</div>

        </div>



    </div>
</div>










{% endblock %}