<header class="header container-fluid">
    <!-- Main Navbar-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Navbar Brand -->
            <div class="navbar-header d-flex align-items-center justify-content-between">
                <a href="/" class="navbar-brand" id="logo"><img
                        src="https://cdn.shopify.com/s/files/1/0051/5070/3734/files/AB_DROP_660x.png?v=1547256433"
                        alt="Renegade" width="330px"></a>
                <!-- Toggle Button-->
                <button type="button" data-toggle="collapse" data-target="#navbarcollapse"
                    aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"><span></span><span></span><span></span></button>
            </div>

            <!-- Navbar Menu -->
            <div id="navbarcollapse" class="collapse navbar-collapse">
                <div class="">
                    <ul class="navbar-nav ml-auto ">
                        <li class="inline-block px-4 py-2"><a href="" class="nav-link">Home</a>
                        </li>
                        <li class="inline-block px-4 py-2"><a href="" class="nav-link">Store</a>
                        </li>
                        <li class="inline-block px-4 py-2"><a href="" class="nav-link">Tour Dates</a>
                        </li>
                        <li class="inline-block px-4 py-2"><a href="" class="nav-link">Videos</a>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <li class="ml-4 mb-4">
                        <a href="https://facebook.com" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)"><i
                                class="fab fa-facebook"></i></a>
                    </li>
                    <li class="ml-4 mb-4">
                        <a href="https://twitter.com" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="ml-4 mb-4">
                        <a href="https://youtube.com" target="_blank" rel="noopener"
                            aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li class="ml-4 mb-4">
                        <a href="https://instagram.com" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)"><i
                                class="fab fa-instagram"></i></a>
                    </li>
                </div>

            </div>


        </div>
    </nav>

</header>