{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- TITLE WITH BREADCRUMB MENU -->
<div class="container-fluid">
    <hr class="w-80 mb-1 bg-light">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="col text-center mt-3 d-flex justify-content-center">
                <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                    <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.resolver_match.view_name }}</li>
                </ol>
            </div>
            <div class="tour-heading">
                <h2 class="text-white">ABOUT</h2>
            </div>
        </div>
    </div>

    <!-- MEMBER INFO -->
    <!-- <div class="container-fluid"> -->
    <div class="row member">
        {% for member in member %}
        <div class="row my-5">
            {% if member.image %}
            <div class="col-12 col-md-6 offset-lg2 profile">
                <img class="img-fluid" src="{{ member.image.url }}" alt="{{ member.name }}">
            </div>
            {% else %}
            <div class="col-12 col-md-6 offset-lg2 profile">
                <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ member.name }}">
            </div>
            {% endif %}
            <div class="col-12 col-md-6 offset-lg2">
                <div class="col-sm ">
                    <p><strong>Name: </strong>{{ member.name }}</p>
                    <p><strong>Born: </strong>{{ member.birthdate }} Age: ({{ member.age }})</p>
                    <p><strong>Lived in: </strong>{{ member.town_or_city }} - {{ member.country }}</p>

                    <p><strong>Genre: </strong>
                        {% for genre in member.genre.all %}
                        #{{ genre }}
                        {% endfor %}
                    </p>
                    {% for instrument in member.instrument.all %}
                    <p><strong>Role: </strong> {{ instrument }}</p>
                    {% endfor %}


                    <!-- <p>{{ member.genre.all }}</p>
                    <p>{{ member.instrument.all }}</p> -->
                    <p>{{ member.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- </div> -->
</div>
{% endblock %}