{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid tour-form">
    <hr class="w-80 mb-1 bg-light">
    <!-- BREADCRUMB NAVIGATION -->
    <div class="row" aria-label="breadcrumb">
        <div class="col text-center mt-3 d-flex justify-content-center">
            <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-light" href="{% url 'tour' %}">Tour</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ tour.venue }}</li>
            </ol>
        </div>
    </div>

    <!-- PAGE HEADER -->
    <div class="tour-heading text-center text-uppercase">
        <h2 class="logo-font mb-4">Tour Management</h2>
        <h5 class="text-muted">Edit Tour Event</h5>
    </div>

    <!-- EDIT TOUR EVENT FORM -->
    <div class="container my-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_tour_event' tour.id %}" class="form mb-2"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <a class="btn btn-danger text-white rounded-0" href="{% url 'tour' %}">Cancel</a>
                        <button class="btn btn-warning text-dark font-weight-bold rounded-0" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}