{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- TITLE WITH BREADCRUMB MENU -->
<div class="container-fluid">
    <hr class="w-80 mb-1 bg-light">
    <div class="row">
        <div class="col text-center mt-3">
            <div class="col text-center mt-3 d-flex justify-content-center">
                <ol class="breadcrumb text-uppercase text-center mt-3 text-justify bg-transparent">
                    <li class="breadcrumb-item"><a class="text-light" href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.resolver_match.view_name }}</li>
                </ol>
            </div>
            <div class="tour-heading">
                <h2 class="text-white">TOUR DATES</h2>
            </div>

            {% if request.user.is_superuser %}
            <div class="my-5">
                <button type="button" class="btn btn-warning"> <a
                        class="text-uppercase text-decoration-none text-dark font-weight-bold"
                        href="{% url 'add_tour_event' %}">Add Tour Event</a>
                </button>

            </div>
            {% endif %}
        </div>
    </div>



    <!-- TOUR INFO -->
    <div class="container tour text-uppercase">
        <div class="mt-5">
            <div class="tour-list">
                {% for tour in tour %}
                <div class="row my-5" id="tour-item">
                    <div class="col-sm">
                        <p>{{ tour.date }}</p>
                    </div>
                    <div class="col-sm">
                        <p><strong>{{ tour.location }}</strong> - {{ tour.venue }}</p>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="">
                        <small>
                            <a class="btn text-white" href="{% url 'edit_tour_event' tour.id %}">Edit</a>
                        </small>
                        <small><a class="btn text-danger" href="{% url 'delete_tour_event' tour.id %}">Delete</a>
                        </small>
                    </div>
                    {% endif %}
                    <div class="col-sm text-sm-right text-left mb-4">
                        <p class=""><a class="text-decoration-none text-white btn btn-info"
                                href="https://www.ticketmaster.ie/" target="_blank">Tickets</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}